<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" Content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" Content="true" />
    <meta name="google-site-verification" content="OqHdvOpuETUSh3dWYoBC881N-uJ9ybIde9azRvrLi3w" />
    <meta name="naver-site-verification" content="fa93ebe316a170a7d2269f58b7da56c73d58e1d6" />
    <!-- page info -->
    <title>Get Rich</title>
    <!-- <meta name="keywords" content="회비정산, 정산하기, 여행경비정산, 네버칼">
    <meta name="description" content="각자 다르게 돈을 냈을 때, 손쉽게 정산하세요!"> -->
    <!-- open graph -->
    <!-- <meta property="og:type" content="website"> 
    <meta property="og:title" content="회비정산">
    <meta property="og:description" content="각자 다르게 돈을 냈을 때, 손쉽게 정산하세요!">
    <meta property="og:image" content="/public/images/calculate.png">
    <meta property="og:url" content="https://nevercalculate.com"> -->
    <!-- <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="페이지 제목">
    <meta name="twitter:description" content="페이지 설명">
    <meta name="twitter:image" content="http://www.mysite.com/article/article1.html">
    <meta name="twitter:domain" content="사이트 명"> -->
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/getrich.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- custom events -->
    <script src="/public/script/event.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/c17229a459.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="d-flex flex-column cContainer container">
        <div class="page"><em>네버칼</em><span class="com">.com</span></div>
        <div class="cWrapper wrapper">
            <h1 class="d-flex justify-content-center">
                <a class="bg-dark mb-2 cTitle" href="/gr"><strong>Get Rich</strong></a>
            </h1>
            <form method="post" id="loginBox" class="box">
                <div class="col">
                    <div class="p-3 row">
                        <input type="text" class="form-control float-center text-center" placeholder="아이디" name="userid">
                    </div>
                    <div class="p-3 row">
                        <input type="password" class="form-control float-center text-center" placeholder="비밀번호" name="password">
                    </div>
                    <div class="row mt-3 mb-3" style="margin:0 auto; width:32%">
                        <button type="button" class="btn-success col rounded-3 cBtn" style="width:200px;" onclick="login()">로그인</button>
                    </div>
                    <div class="row mt-3 mb-5" style="margin:0 auto; width:32%">
                        <button type="button" class="btn-success col rounded-3 cBtn" id="addButton" onclick="window.location.href='/gr/register'">회원가입</button>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="col p-2 pb-2" id="addTarget">
                        <div class="p-3 row line">
                            <input type="text" class="form-control float-center text-center cName" placeholder="name1">
                            <div class="my-auto colon">
                                <span>:</span>
                            </div>
                            <input class="form-control float-end text-end cValue" placeholder="0" maxlength="11" data-val="0" oninput="valueInputValid(this)">
                        </div>
                        <div class="p-3 row line">
                            <input type="text" class="form-control float-center text-center cName" placeholder="name2">
                            <div class="my-auto colon">
                                <span>:</span>
                            </div>
                            <input class="form-control float-end text-end cValue" placeholder="0" maxlength="11" data-val="0" oninput="valueInputValid(this)">
                        </div>
                        <div class="p-3 row line">
                            <input type="text" class="form-control float-center text-center cName" placeholder="name3">
                            <div class="my-auto colon">
                                <span>:</span>
                            </div>
                            <input class="form-control float-end text-end cValue" placeholder="0" maxlength="11" data-val="0" oninput="valueInputValid(this)">
                        </div>
                    </div>
                    <div class="row mt-3 mb-5" style="margin:0 auto; width:90%">
                        <button type="button" class="btn-primary col rounded-3 cBtn" id="addButton">+</button>
                    </div>
                </div> -->
            </form>

            <div id="startBox" class="box">
                <div class="row mt-5 mb-5" style="margin:0 auto; width:30%">
                    <button type="button" class="btn-primary col rounded-3 cBtn" id="addButton" onclick="start()">Start</button>
                </div>
                <div class="row mt-3 mb-3" style="margin:0 auto; width:30%">
                    <button type="button" class="btn-success col rounded-3 cBtn" id="addButton" onclick="logout()">로그아웃</button>
                </div>
            </div>

            <div id="mainBox" class="box">
                <div>
                    아이디 : <%=userid%>
                </div>
                <div>
                    시작 자산 : <%=start_total_amount%> USDT
                </div>
                <div>
                    현재 자산 : <%=total_amount%> USDT
                </div>
                <br>

                <div style="margin-bottom:3px;">
                    [Plan]
                </div>
                <div>
                    시작일 : <%=start_date.split(' (')[0]%>
                </div>
                <div>
                    종료일 : <%=end_date%>
                </div>
                <div>
                    배율 : 10배
                </div>
                <div>
                    익절 범위 : <span style="font-weight:bold;">5% </span><span class="smaller">~ 20%</span>
                </div>
                <div>
                    손절 범위 : <span style="font-weight:bold;">-10%</span>
                </div>
                <br>

                <div style="margin-bottom:3px;">
                    [Process]
                </div>
                <div style="margin-bottom:5px;">
                    <span>수익률 : </span><span id="current_profit_rate" style="font-size:19px; vertical-align:middle; padding:8px 7px; background-color: rgb(80, 80, 80); border-radius:5px; font-weight: bold;"><%=(current_profit_rate * 100).toFixed(1)%>%</span> (R.M. : <span>-30%</span>)
                    <script>
                        const current_profit_rate = Number('<%=current_profit_rate%>');
                        if (current_profit_rate > 0) {
                            $('#current_profit_rate').css('color', '#00c500');
                            $('#current_profit_rate').text('+' + (current_profit_rate * 100).toFixed(1) + '%');
                        } 
                        else if (current_profit_rate < 0) $('#current_profit_rate').css('color', '#ff7d7d');
                        else if (current_profit_rate == 0) $('#current_profit_rate').css('color', '#F3F3F3');
                    </script>
                </div>
                <div>
                    남은 날짜 : <b><%=date_count%></b>
                </div>
                <div>
                    <span style="vertical-align:super;">남은 카드 : </span>
                    <b style="font-size:30px; vertical-align:sub;"><%=card_count%></b><span style="vertical-align:top; display:inline-block; margin-top:-3px;"><img src="/public/images/star.png" width="10px" height="10px;"></span>
                </div>
                <hr>

                <div>
                    오늘 날짜 : <span id="today_date"></span>
                </div>
                <div class="mb-4">
                    오늘 마감가 : 
                    <% if (!today_reported) { %>
                        <input type="number" id="daily_report" style="width:130px;"><button type="button" class="btn-secondary" onclick="dailyReport()">입력</button>
                    <% } else { %>
                        입력 완료
                    <% } %>
                </div>

                <div style="width:320px; margin-left:-20px;">
                    <% for (let i = 0; i < daily_reports.length; i++) { %>
                        <div style="display:inline-block; border:1px solid black; width:60px; margin-bottom:5px;">
                            <div id="daily_report_rate_<%=i%>" style="text-align:center; font-size:12px;"><%=(daily_reports[i].profit_or_lost_rate * 100).toFixed(1)%>%</div>
                            <script>
                                var profit_or_lost_rate = Number('<%=daily_reports[i].profit_or_lost_rate%>');
                                if (profit_or_lost_rate > 0) {
                                    $('#daily_report_rate_<%=i%>').css('background-color', '#64D864');
                                    $('#daily_report_rate_<%=i%>').text('+' + (profit_or_lost_rate * 100).toFixed(1) + '%');
                                } 
                                else if (profit_or_lost_rate < 0) $('#daily_report_rate_<%=i%>').css('background-color', '#FF9999');
                                else if (profit_or_lost_rate == 0) $('#daily_report_rate_<%=i%>').css('background-color', '#F3F3F3');
                            </script>
                            <div style="text-align:center; font-size:12px;"><%=daily_reports[i].total_amount%></div>
                        </div>
                    <% } %>
                </div>

                <br>
                <br>
                <hr>
                <div>    
                    <div>
                        <div style="margin:0 auto; width:110px;">
                            <button type="button" class="btn-secondary" id="addButton" onclick="terminate()">종료</button> / <button type="button" class="btn-secondary" id="addButton" onclick="restart()">리셋</button>
                        </div> 
                    </div>
                    <div class="row mt-3 mb-3" style="margin:0 auto; width:32%">
                        <button type="button" class="btn-success col rounded-3 cBtn" id="addButton" onclick="logout()">로그아웃</button>
                    </div>
                </div>
            </div>

            

            <!-- <div class="copyBox pt-2">
                <button><i class="fa fa-clone"></i></button>
            </div> -->
            <div class="p-3 bg-light resultContainer" id="resultContainer">
                <!-- <div class="p-2 col result">
                    <div class="from">
                        <span class="name fw-bolder">name1</span>
                    </div>
                    <div class="to">
                        <div class="inner">
                            <span class="name">name2</span>
                            <span>:</span>
                            <span class="value">3,000</span>
                            <span>원</span>
                        </div>
                    </div>
                    <div class="to">
                        <div style="margin-left:auto">
                            <span class="name">name3</span>
                            <span>:</span>
                            <span class="value">5,000</span>
                            <span>원</span>
                        </div>
                    </div>
                </div> -->
                <div class="results resultTarget" id="resultTarget"></div>
                <div class="copyBox pt-2">
                    <button><i class="fa fa-clone"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/public/script/getrich.js"></script>
<script>
    const loggedin = JSON.parse('<%=login%>');
    const started = JSON.parse('<%=start%>');
    console.log(loggedin)
    console.log(started)
    if (!loggedin) $('#loginBox').show();
    else if (!started) $('#startBox').show();
    else $('#mainBox').show();
</script>

</html>